.App {
  text-align: center;

}
*{
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1518270500.1719273600&semt=sph');
  background-size: cover;
}

.Signup{
  height: 500px;
  width: 600px;
display: flex;
justify-content: center;
align-items: center;
width: 100%
 
}
h1{
  color: red;
  text-align: center;
}
.signup-layout{
  display: grid;
grid-column: auto;
padding: 20px;
margin: 5px;
height: 300px;
width: 600px;
}

#inp1{
  padding: 10px;
  border-radius: 3px;
}
#inp1:hover{
  border: 2px solid red;
}
  #btn{
    position: relative;
    top: 15px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
   
  }
  #btn:hover{
    border: 2px solid red;
  }
/* label{
  color: wheat;
} */